<div class="section_header">
  <h1 class="default_h1"><%= @section.name %></h1>

  <div class="section_actions">
    <%= link_to raw('<i class="fa-solid fa-pen-to-square"></i>'), edit_section_path(@section), class: "btn edit_btn" %>
    <%= link_to raw('<i class="fa-solid fa-trash"></i>'), section_path(@section), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn delete_btn" %>
  </div>
</div>

<div class="btn_options">
  <%= link_to raw('<i class="fa-solid fa-plus"></i> Add issue'), new_section_issue_path(@section), class: "btn add_new" %>
  <%= link_to raw('<i class="fa-solid fa-plus"></i> Add steps'), new_section_step_path(@section), class: "btn add_new" %>
</div>

<br>
<%= link_to "> Back to all Sections", root_path, class: "back" %>

<%= render "search_bar", section: @section %>

<br>
<div class="section_container">
  <h2>Issues in this section:</h2>
  <% if @section.issues.empty? %>
    <p>No issues yet. Add one!</p>
  <% else %>
    <div class="issues_list">
      <% @issues.each do |issue| %>
        <%= link_to section_issue_path(@section, issue) do %>
          <div class="issue_card">
            <% if issue.solved == false %>
              <span class="badge"></span>
            <% end %>
            <h3><%= issue.title %></h3>
            <p><%= issue.problem %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
