<div class="step_container">
  <h1 class="default_h1"><%= @step.title %></h1>

  <div class="step_actions issue_actions">
    <%= link_to raw('<i class="fa-solid fa-pen-to-square"></i>'), edit_section_step_path(@section, @step), class: "btn edit_btn" %> ||
    <%= link_to raw('<i class="fa-solid fa-trash"></i>'), section_step_path(@section, @step), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn delete_btn" %>
  </div>
  <hr>

  <p class="section_name"><strong>Section:</strong> <%= @step.section.name %></p>

  <div class="description">
    <h2 class="default_h2">Description:</h2>
    <% if @step.description.present? %>
      <p><%= @step.description %></p>
    <% else %>
      <p>No description yet.</p>
    <% end %>
  </div>

  <div class="content">
    <h2 class="default_h2">Content:</h2>
    <% if @step.content.present? %>
      <p><%= markdown(@step.content) %></p>
    <% else %>
      <p>No content provided yet.</p>
    <% end %>
  </div>

  <%= link_to "> Back", steps_path, class: "back" %>
</div>
