<div class="project_idea_details">
  <div class="project_idea_card">
    <h1><%= @project_idea.title %>:</h1>
    <% if @project_idea.description.present? %>
      <p>- <%= @project_idea.description %></p>
    <% else %>
      <p>No description provided.</p>
    <% end %>
  </div>

  <div class="idea_actions issue_actions">
    <%= link_to raw('<i class="fa-solid fa-pen-to-square"></i>'), edit_project_idea_path(@project_idea), class: "btn edit_btn" %> ||
    <%= link_to raw('<i class="fa-solid fa-trash"></i>'), project_idea_path(@project_idea), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn delete_btn" %>

  </div>
</div>

<%= link_to "> Back to ideas", project_ideas_path, class: "back" %>
