<!DOCTYPE html>
<html>
  <head>
    <title>Issections250508</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar">
      <%= link_to "Issections", root_path, class: "logo nav_link" %>

      <div class="nav_items">
        <%= link_to "Steps", "#", class: "nav_item nav_link" %>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
